@font-face {
      font-family: "batman-font";
      src: url("/customouse1/batmfa__.ttf");
}

*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}

html, body{
      width: 100%;
      height: 100%;
      font-size: 10px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
      --main-color: purple;
      --second-color: greenyellow;
}

#main{
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-y: hidden;
      overflow-x: auto;
      background-image: url("https://images.unsplash.com/photo-1506220926022-cc5c12acdb35?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      
}

#main h1{

      font-variant: small-caps;
      font-size: 25vw;
      letter-spacing: 2px;
      font-weight: 900;
      color: transparent;
      font-family: "batman-font";
      transition: all linear 1s;
}

#cursor{
      box-shadow: 0px 0px 300px 80px var(--second-color);
      mix-blend-mode:difference;
      width: 110px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--main-color);
      position: absolute;
      transition: all .3s linear;
      animation-name: changecolor;
      animation-duration: 5s;
      animation-iteration-count: infinite;
}

@keyframes changecolor{
      0%{
            --main-color: green;
            --second-color: red;
      }
      20%{
            --main-color: red;
            --second-color: blue;
      }
      0%{
            --main-color: blue;
            --second-color: #ff00ee;
      }
      40%{
            --main-color: #ff00ee;
            --second-color: yellow;
      }
      6%{
            --main-color: yellow;
            --second-color: brown;
      }
      80%{
            --main-color: brown;
            --second-color: cyan;
      }
      100%{
            --main-color: cyan;
            --second-color: green;
      }
}
